.CountriesListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    @media only screen and (min-width: 790px) {

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}